#app {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  width: 100%;
  height: 100vh;
    
  padding: 45px 130px 0; 

  background-image: linear-gradient(90deg, #000000cc 30%, #00000000 96.69%), url('../assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main{
  display: flex;
  align-items: center;
  justify-content: space-between;
}