header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 65px;
}

.menu_button {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 10px;

    width: 46px;

    background: transparent;
}

.menu_button span {
    width: 100%;
    height: 2px;
    border-radius: 8px;
    display: block;
    background: var(--primary);

}