.Video {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 12px;
}

.rating {
    display: flex;
    align-items: center;
    column-gap: 18px;
}

.Video span, .rating strong, .Video button {
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.rating strong {
    font-weight: 600;
}

.Video h1 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 700;
}

.Video p {
    font-size: 1.1rem;
    line-height: 1.8rem;
    font-weight: 300;

    width: 100%;
    max-width:600px;
}

.Video button {
    display:flex;
    align-items: center;
    justify-content:space-between;
    font-weight: 500;

    width: 250px;
    height:60px;
    padding: 0 42px;
    box-shadow:0px 3px 50px rgba(0, 0, 0, 0.16);
    border-radius:70px;
    margin-top: 20px;

    background:var(--red);

}

