.Video2 {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.Video2 h2 {
    font-size:1.75rem;
    line-height: 2.125rem;
    font-weight: 700;
}

.Video2 div {
    padding-right: 50px;
    height: 600px;

    overflow: auto;
}

.Video2 div::-webkit-scrollbar {
    width: 0.2rem;
}

.Video2 div::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.4);
} 

.Video2 div::-webkit-scrollbar-thumb {
    background: var(--primary);
} 

.Video2 ul {
    display: flex;
    flex-direction: column;
    row-gap: 45px;
}

.video_1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    position: relative;
    padding-bottom: 10px;
    padding-left: 10px;
    background: black;

    width: 265px;
    height: 130px;
    border-radius: 8px;

    background-image: linear-gradient(180deg, rgba(7, 7, 7, 0) 11.72%, #020202 120%), 
    url('/assets/background_reapresentacao.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.video_2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    position: relative;
    padding-bottom: 10px;
    padding-left: 10px;
    background: black;

    width: 265px;
    height: 130px;
    border-radius: 8px;

    background-image: linear-gradient(180deg, rgba(7, 7, 7, 0) 11.72%, #020202 120%), 
    url('/assets/background_viagem_uruguai.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.video_3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    position: relative;
    padding-bottom: 10px;
    padding-left: 10px;
    background: black;

    width: 265px;
    height: 130px;
    border-radius: 8px;

    background-image: linear-gradient(180deg, rgba(7, 7, 7, 0) 11.72%, #020202 120%), 
    url('/assets/background_onibus_e_base.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.video_4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    position: relative;
    padding-bottom: 10px;
    padding-left: 10px;
    background: black;

    width: 265px;
    height: 130px;
    border-radius: 8px;

    background-image: linear-gradient(180deg, rgba(7, 7, 7, 0) 11.72%, #020202 120%), 
    url('/assets/background_joao_victor.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.video_5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    position: relative;
    padding-bottom: 10px;
    padding-left: 10px;
    background: black;

    width: 265px;
    height: 130px;
    border-radius: 8px;

    background-image: linear-gradient(180deg, rgba(7, 7, 7, 0) 11.72%, #020202 120%), 
    url('/assets/background_treino_10_1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.video_6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    position: relative;
    padding-bottom: 10px;
    padding-left: 10px;
    background: black;

    width: 265px;
    height: 130px;
    border-radius: 8px;

    background-image: linear-gradient(180deg, rgba(7, 7, 7, 0) 11.72%, #020202 120%), 
    url('/assets/background_jomar_ottani.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.video_7 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    position: relative;
    padding-bottom: 10px;
    padding-left: 10px;
    background: black;

    width: 265px;
    height: 130px;
    border-radius: 8px;

    background-image: linear-gradient(180deg, rgba(7, 7, 7, 0) 11.72%, #020202 120%), 
    url('/assets/background_juntos_viramos.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.video_8 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    position: relative;
    padding-bottom: 10px;
    padding-left: 10px;
    background: black;

    width: 265px;
    height: 130px;
    border-radius: 8px;

    background-image: linear-gradient(180deg, rgba(7, 7, 7, 0) 11.72%, #020202 120%), 
    url('/assets/background_camisas_negras.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.Video2 li strong {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 600;
}

.Video2 li button {
    position: absolute;
    inset: 0;

    margin: auto;
    background: transparent;

    width: 36px;
    height: 36px;

    opacity: 0;

    transition: all 1.2s;

}

.Video2 li:hover button {
    opacity: 1;
}

